:root {
  --scrollbar-width: 0%; /* requires unit definition here - dynamically set using Javascript helper */
  --fluid-min-width: 375px;
  --fluid-max-width: 1280px;
  --fluid-screen: calc(100vw - var(--scrollbar-width));

  --grid-gap: var(--space-x-6);

  @media (--mq-lg) {
    --grid-gap: calc(var(--space-y-1) * 14);
  }

  @media (--mq-xl) {
    --grid-gap: calc(var(--space-y-1) * 14);
  }
}
