@import "~/assets/styles/resources.css";

.c-editorial-section {
  padding-top: var(--space-y-7);
  padding-bottom: var(--space-y-7);

  @media (--mq-md) {
    padding-top: var(--space-y-8);
    padding-bottom: var(--space-y-8);
  }

  @media (--mq-lg) {
    padding-top: var(--space-y-12);
    padding-bottom: var(--space-y-12);
  }
}

.c-editorial-section__inner {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);

  @media (--mq-lg) {
    flex-direction: row;
  }
}

.c-editorial-section--reverse .c-editorial-section__inner {
  flex-direction: column-reverse;

  @media (--mq-lg) {
    flex-direction: row-reverse;
  }
}

.c-editorial-section--reverse\:sm .c-editorial-section__inner {
  flex-direction: column-reverse;

  @media (--mq-lg) {
    flex-direction: row;
  }
}

.c-editorial-section--reverse\:md .c-editorial-section__inner {
  @media (--mq-md) {
    flex-direction: column-reverse;
  }
  @media (--mq-lg) {
    flex-direction: row-reverse;
  }
}

.c-editorial-section--single .c-editorial-section__inner {
  max-width: 75ch;
}

.c-editorial-section--reverse\:lg .c-editorial-section__inner {
  @media (--mq-lg) {
    flex-direction: row-reverse;
  }
}

.c-editorial-section__content {
  /* padding-left: calc((100vw - var(--fluid-max-width)) / 2); */
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (--mq-lg) {
    flex: 1;
  }
}

.c-editorial-section--reverse .c-editorial-section__content {
  /* padding-left: 0;
  padding-right: calc((100vw - var(--fluid-max-width)) / 2); */
}

.c-editorial-section__title {
  color: var(--color-black);
  max-width: 35ch;
}

.c-editorial-section__body {
  margin-top: var(--space-y-6);
  max-width: 65ch;

  @media (--mq-md) {
    margin-top: var(--space-y-8);
  }

  h3,
  h4 {
    color: var(--color-black);
  }
}

.c-editorial-section__media {
  overflow: visible;

  @media (--mq-md) {
    flex: 1;
  }
}
