@import "~/assets/styles/resources.css";

.c-button {
  --button-icon-size: 12px;

  @media (--mq-md) {
    --button-icon-size: 16px;
  }

  @mixin button-reset;
  @mixin font-smoothing;

  /* Layout */
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  vertical-align: middle;

  /* Visual */
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 4px;
  border: 2px solid var(--color-white);

  /* Size */
  padding: var(--space-y-2) var(--space-x-3);
  max-width: 100%;

  /* Text */
  font-family: var(--font-serif);
  font-size: var(--font-size-5);
  font-weight: 400;
  text-align: center;
  line-height: calc(var(--baseline) * 6);
  cursor: pointer;

  @media (--mq-lg) {
    line-height: calc(var(--baseline) * 7);
    padding: var(--space-y-3) var(--space-x-5);
  }

  &:hover,
  &:focus {
    background-color: rgba(var(--color-white-rgb), 0.9);
    border-color: transparent;
  }

  &__label {
    display: block;
  }

  &__icon {
    display: flex;
    margin-right: var(--space-x-3);
    align-items: center;
    justify-content: center;
  }

  svg,
  img {
    fill: currentColor;
    height: var(--button-icon-size);
    width: var(--button-icon-size);
    min-height: var(--button-icon-size);
    min-width: var(--button-icon-size);
  }

  &--link {
    background: none;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }

  &--decorative {
    font-family: var(--font-family-heading);
    letter-spacing: 2px;
  }

  &--invert {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black);

    &:hover,
    &:focus {
      background-color: rgba(var(--color-black-rgb), 0.8);
    }
  }

  &--ghost {
    background: none;
    border-color: inherit;

    &:hover,
    &:focus {
      background-color: rgba(var(--color-white-rgb), 0.1);
      border-color: inherit;
    }
  }

  &--block {
    width: 100%;
  }

  &--sm {
    padding: var(--space-y-2) var(--space-x-3);
    font-size: var(--font-size-6);
    line-height: var(--line-height-6);
  }

  &--lg {
    padding: var(--space-y-4) var(--space-x-8);
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
  }

  &--lg\:lg {
    @media (--mq-lg) {
      padding: var(--space-y-4) var(--space-x-8);
      font-size: var(--font-size-4);
      line-height: var(--line-height-4);
    }
  }

  &[disabled] {
    opacity: 0.3;
  }
}
